.modalBackground {
    width: 100vw;
    height: 100vh;
    background-color: rgba(200, 200, 200);
   /* position: fixed; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: absolute;
    width: 1080px;
    height: 664px;
    left: 0px;
    top: 0px;
    
    background: #FFFFFF; */
  }
  
  .modalContainer {
    width: 1080px;
    height: 550px;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    /* position: absolute; */
/* width: 1080px;
height: 664px;
left: 0px;
top: 0px;
display: flex;
    flex-direction: column;
    padding: 25px;

background: #FFFFFF; */
  }
  
  
  
  .modalContainer .body {
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    text-align: center;
  }
  
 