@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import 'bootstrap/dist/css/bootstrap.min.css';
.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Nunito", sans-serif;
}

.App .openModalBtn {
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 6px;
  background-color: cornflowerblue;
  color: white;
  cursor: pointer;
} */
body {
  padding: 0;
  margin: 0;
}

.form-container{
  background-color: rgb(175, 230, 242);
  width: 1080px;
  height: 664px;
}

.imgBg-Circle{
  background-color: #dce7ea;
  border-radius: 999px;
  width: 430px;
  height: 430px;
  margin-left: -140px;
}

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-col{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-container{
  position: absolute;
  bottom: -35px;
}

.tags-items{
  /* padding: 5px 12px;
  background-color: #08546c;
  border-radius: 999px;
  color: white;
  font-size: 12px; */

  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 5px 12px;
gap: 10px;

/* position: absolute; */
width: 168px;
height: 24px;
left: 556px;
top: 119px;

/* Background */

background: #DCE7EA;
border-radius: 12px;
}
.tags-items2{
  /* padding: 5px 12px;
  background-color: #08546c;
  border-radius: 999px;
  color: white;
  font-size: 12px; */

  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 5px 12px;
gap: 10px;

/* position: absolute; */
width: 126px;
height: 24px;
left: 748px;
top: 119px;

/* Background */

background: #DCE7EA;
border-radius: 12px;
}
.p1{
  /* width: 102px; */
height: 14px;

/* Web/caption */

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
letter-spacing: 0.4px;

/* Primary */

color: #08546C;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}


.form-group{
  width: 305px;
}

.privacy-conainer p{
  font-size: 13px;
  text-align: left;
}

.submitBtn{
  padding: 13px 49px;
  background-color: #FFA63A;
  border-radius: 4px;
}

.secured-msg p{
  padding: 5px 12px;
  background-color: #08546c;
  border-radius: 999px;
  color: white;
  font-size: 12px;
}
.gender-container{
  box-sizing: border-box;

/* position: absolute; */
width: 172px;
height: 48px;
left: 0px;
top: 0px;

background: #FFFFFF;
/* Contrast */

border: 2px solid #FFA63A;
border-radius: 8px;
}
.female-container{
  box-sizing: border-box;

/* position: absolute; */
width: 172px;
height: 48px;
left: 0px;
top: 0px;

background: rgba(255, 255, 255, 0.8);
border: 1px solid #576E76;
border-radius: 8px;
}
.term{
  width: 296px;
  height: 41px;
  left: 591px;
  top: 48px;

  font-family: 'Lato';
font-style: normal;
font-weight: 500;
font-size: 34px;
line-height: 41px;
/* identical to box height */

letter-spacing: 0.25px;

  color: #022E3C;
}
label {
  display: inline-block;
  /* width: 72px; */
  height: 19px;
  left: 0px;
  top: 0px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.15px;
  color: #08546C;
}

.form-control-lg {
  /* min-height: calc(1.5em + 1rem + 2px);
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  border-radius: 0.3rem; */

  box-sizing: border-box;

/* position: absolute; */
width: 378px;
height: 48px;
left: 0px;
top: 0px;

background: #FFFFFF;
/* New */

border: 1px solid #576E76;
border-radius: 8px;
}

